<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
	 xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

	<f:layout name="Content"/>

	<f:section name="Configuration">
		<flux:form id="quicklinks">

			<flux:form.sheet name="linkOne" label="Link 1">
				<flux:field.input name="settings.linkOne" label="Link">
					<flux:wizard.link activeTab="Page" />
				</flux:field.input>
				<flux:field.input name="settings.linkTextOne" maxCharacters="32" label="Linktext"/>

				<flux:field.file name="settings.imagesOne" multiple="FALSE" maxItems="1" label="Image"/>
			</flux:form.sheet>

			<flux:form.sheet name="linkTwo" label="Link 2">
				<flux:field.input name="settings.linkTwo" label="Link">
					<flux:wizard.link activeTab="Page" />
				</flux:field.input>
				<flux:field.input name="settings.linkTextTwo" maxCharacters="32" label="Linktext"/>

				<flux:field.file name="settings.imagesTwo" multiple="FALSE" maxItems="1" label="Image"/>
			</flux:form.sheet>

			<flux:form.sheet name="linkThree" label="Link 3">
				<flux:field.input name="settings.linkThree" label="Link">
					<flux:wizard.link activeTab="Page" />
				</flux:field.input>
				<flux:field.input name="settings.linkTextThree" maxCharacters="32" label="Linktext"/>

				<flux:field.file name="settings.imagesThree" multiple="FALSE" maxItems="1" label="Image"/>
			</flux:form.sheet>

		</flux:form>
	</f:section>

	<f:section name="Preview">

	</f:section>

	<f:section name="Main">
		<div class="quicklink">
			<h1 class="headline">
				<v:tag name="h{settings.content.settings.header.type -> v:or(alternative: record.header_layout) -> v:or(alternative: settings.header.type)}"
					   class="{settings.content.settings.header.className}" hideIfEmpty="{settings.content.settings.header.hideIfEmpty -> v:or(alternative: 1)}">
					{record.header -> f:format.raw()}
				</v:tag>
			</h1>
			<div class="quicklink-basement">
				<f:if condition="{settings.linkOne}">
					<f:link.page pageUid="{settings.linkOne}" title="{settings.linkTextOne}" class="quicklink-content quicklink-one">
						<div class="quicklink-text-container">
							<f:image src="{settings.imagesOne}" height="50c" width="auto" />
							<div class="quicklink-linkcontent">
								{settings.linkTextOne}
							</div>
						</div>
						<div class="clearfix"></div>
					</f:link.page>
				</f:if>
				<f:if condition="{settings.linkTwo}">
					<f:link.page pageUid="{settings.linkTwo}" title="{settings.linkTextTwo}" class="quicklink-content quicklink-two">
						<div class="quicklink-text-container">
							<f:image src="{settings.imagesTwo}" height="50c" width="auto" />
							<div class="quicklink-linkcontent">
								{settings.linkTextTwo}
							</div>
						</div>
						<div class="clearfix"></div>
					</f:link.page>
				</f:if>
				<f:if condition="{settings.linkThree}">
					<f:link.page pageUid="{settings.linkThree}" title="{settings.linkTextThree}" class="quicklink-content quicklink-three">
						<div class="quicklink-text-container">
							<f:image src="{settings.imagesThree}" height="50c" width="auto" />
							<div class="quicklink-linkcontent">
								{settings.linkTextThree}
							</div>
						</div>
						<div class="clearfix"></div>
					</f:link.page>
				</f:if>
			</div>



		</div>
	</f:section>
</div>

